@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all  ease-in-out .5s;
  -moz-transition: all ease-in-out .5s;
  -o-transition: all ease-in-out .5s;
  -ms-transition: all ease-in-out .5s;
}

a:hover {
  color: #ffa500;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1536x;
  width: 80.5%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.headertop {
  padding: 8px 0;
  background-color: #000;
}

.headertop .wrapper {
  width: 99.3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 17.5px;
}

.headertop .wrapper a {
  color: #fff;
}

.search {
  margin-top: 3px;
  margin-left: 11.9%;
  font-size: 18px;
}

.search-icon {
  display: block;
  text-indent: -9999px;
}

.search-icon::before {
  content: "\f002";
  margin-left: 9px;
  float: right;
  color: #fff;
  font-family: "fontAwesome";
  font-size: 20px;
  text-indent: 0;
}

.add-to-cart {
  display: flex;
  flex-basis: 19%;
  justify-content: space-between;
  align-items: center;
}
.quantity {
  align-self: flex-end;
}


.add-to-cart-icon {
  margin-left: 18px;
}

.add-to-cart-icon,
.header-top-icon {
  display: block;
  text-indent: -9999px;
}

.add-to-cart-icon::before,
.header-top-icon::before {
  content: "\f217";
  float: right;
  font-size: 29px;
  font-family: "fontAwesome";
  text-indent: 0;
}
.header-top-icon::before {
  content: "\f05a";
}

.header-bottom .wrapper {
  padding: 32px 0 34px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}

.hamburger,
.cross {
  margin-left: auto;
  display: none;
  text-indent: -9999px; 
}

.hamburger::before,
.cross::before {
  content: "\f0c9";
  float: right;
  color: #000;
  font-family: "fontAwesome";
  cursor: pointer;
  text-indent: 0;
}

.cross::before {
  content: "\f00d";
}

.menu {
  margin-bottom: 6px;
  flex-basis: 65.4%;
  align-self: flex-end;
}

.menu ul {
  display: flex;
  justify-content: space-between;
}

.menu ul li a {
  color: #000;
  font-size: 19px;
  font-weight: bold;
}

.middle-menus {
  margin-left: auto;
  margin-right: 7%;
  flex-basis: 21%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/* meet the makers styling start  */
.meet-the-maker .wrapper {
  margin-top: 30px;
}

.meet-the-maker-top {
  display: flex;
  justify-content: space-between;
}

.meet-the-maker-top h2 {
  margin-top: 31px;
  font-size: 26px;
  font-weight: bold;
}

.dash {
  padding: 0 7px;
}

.buttons {
  flex-basis: 35.7%;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: bold;cursor: pointer;
}

.adriana-photo {
  width: 53.6%;
  margin-top: 39px;
}

.adriana-info h2 {
  margin-bottom: 17px;
  font-size: 56px;
  white-space: nowrap;
}

.adriana-info span,.adriana-info address {
  display: block;
  font-size: 23px;
  font-weight: bold;
  line-height: 31px;
  white-space: nowrap;
}

.adriana-info {
  width: 37.4%;
  /* padding: 43px 49px 56px 37px; */
  padding-left: 3%;
  padding-top: 3.4%;
  padding-right: 43.1%;
  padding-bottom: 4.5%;
  position: absolute;
  top: 22.5%;
  left: 49.9%;
  background-color: #e7bd13;
  box-sizing: border-box;
}

.adriana-ayales {
  padding-bottom: 34.7%;
  position: relative;
}

.adriana-details p {
  width: 83.6%;
  font-size: 23px;
  font-weight: bold;
  word-break: break-all;
}

.adriana-details {
  margin-top: 8.6%;
  display: flex;
}

.adriana-info-description {
  flex-basis: 76.5%;
}

.anima-mundi-photo img {
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
}

.video {
  width: 77.8%;
  position: absolute;
  left: 11.1%;
  bottom: -15.5%;
  z-index: 1;
}

.play-button {
  position: absolute;
  top: 40%;
  left: 45%;
  -webkit-transform: translate(-50% -50%);
  -moz-transform: translate(-50% -50%);
  -o-transform: translate(-50% -50%);
  -ms-transform: translate(-50% -50%);
  display: block;
  color: #fff;
  text-indent: -9999px;
  z-index: 2;
}

.play-button::before {
  content: "\f01d";
  float: right;
  font-size: 108px;
  font-family: "fontAwesome";
  text-indent: 0;
}

.gap {
  margin-top: 45px;
}

.meet-the-maker-bottom {
  padding-top: 23.1%;
  padding-bottom: 10.5%;
  background-color: #f7f3ed;
}

.meet-the-maker-bottom .wrapper {
  width: 77.7%;
}

.adrianas-interviews {
  display: flex;
}

.adrianas-interviews figure img {
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
}

.interview-links {
  width: 28%;
  margin-left: 7.2%;
}

.interview-links h3 {
  margin-bottom: 30px;
  font-size: 19px;
  font-weight: bold;
}

.interview-links a {
  margin-bottom: 18px;
  color: #000;
  font-size: 18px;
  line-height: 23px;
  text-decoration: underline;
  -webkit-transition: all  ease-in-out .5s;
  -moz-transition: all ease-in-out .5s;
  -o-transition: all ease-in-out .5s;
  -ms-transition: all ease-in-out .5s;
}

.interview-links a:hover {
  color: #ffa500;
}

/* meet the maker styling end  */
/* anima mundi products start  */

.anima-mundi-products {
  padding-top: 5.5%;
  padding-bottom: 6.4%;
}

.anima-mundi-products .wrapper h2 {
  margin-bottom: 73px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.our-products {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.product-info {
  flex-basis: 23%;
  text-align: center;
}

.product-info::before {
  content: "";
  width: 98%;
  height: 5px;
  margin: auto;
  display: block;
  background-color: #e7bd13;
}

.product-info figure {
  width: 140px;
  margin: 28px auto 45px auto;
}

.product-title {
  display: block;
  color: #000;
  font-size: 19px;
  font-weight: bold;
}

.product-info .product-price {
  margin-top: 9px;
  display: block;
  font-weight: normal;
}

.all-products {
  text-align: center;
}

.all-products a{
  padding: 13px 21px;
  margin-top: 4%;
  border: 3px solid #000;
  display: inline-block;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: all  ease-in-out .5s;
  -moz-transition: all ease-in-out .5s;
  -o-transition: all ease-in-out .5s;
  -ms-transition: all ease-in-out .5s;
}

.all-products a:hover {
  color: #ffa500;
}

.all-products a::after {
  margin-left: 11px;
  content: "\f178";
  font-family: "fontAwesome";
}
/* anima mundi producs ends  */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
footer {
  padding: 73px 0 43px 0;
  background-color: #000;
  color: #fff;
}

footer .wrapper {
  width: 80.3%;
}

footer a {
  color: #fff;
}

 .footer-options a:hover {
   color: #FFF;
  text-transform: uppercase;
  opacity: 0.6;
  
}

.footer-top {
  display: flex;
}

.footer-options {
  flex-basis: 33.5%;
  display: flex;
  justify-content: space-between;
}

.footer-options ul {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.footer-details {
  margin-left: auto;
  flex-basis: 49.7%;
  font-size: 20px;
}

.footer-details span,
.footer-details address {
  margin-top: 10px;
  display: block;
}

.address,
.footer-details .time,
.icons {
  margin-left: 52.2%;
}

.footer-details .time {
  margin-top: 41px;
}

.icons {
  width: 12.6%;
  margin-top: 18%;
  display: flex;
  justify-content: space-between;
}

.icons li a {
  text-indent: -9999px;
}

.icons li a::before {
  content: "\f09a";
  float: right;
  font-size: 30px;
  font-family: "fontAwesome";
  text-indent: 0;
}
.icons li:nth-child(2) a::before {
  content: "\f16d";
}

.copyright-info {
  margin-top: 18%;
}

footer .copyright {
  display: inline-block;
  font-size: 17px;
}

.copyright:nth-child(3) {
  margin-left: 10px;
}

.footer-bottom {
  padding: 100px 0;
  background-color: #fff;
}

.footer-options ul {
  margin-top: 4px;
}

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/

@media only screen and (max-width: 1440px) {
  
  .add-to-cart {
    flex-basis: 23%;
  }

  .adriana-info {
    width: 50%;
  }

  .buttons {
    flex-basis: 41.7%;
  }
}

@media only screen and (max-width: 1024px) {
  .middle-menus {
    margin-right: auto;
    flex-basis: 40%;
  }

  .adriana-info {
    top: 5%;
    left: 21%;
  }

  .adriana-info h2 {
    font-size: 40px;
  }

  .adriana-info span,.adriana-info address {
    font-size: 20px;
  }

  .play-button::before {
    font-size: 80px;
  }

}
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /* .adriana-info,.video,.play-button {
  display: none;
} */

  .header-bottom,
  .meet-the-maker-top,
  .adriana-details,
  .adrianas-interviews,
  .our-products,
  .footer-top {
    flex-direction: column;
    row-gap: 20px;
  }

  .header-bottom,
  .meet-the-maker-top,
  .adriana-details,
  .adrianas-interviews,
  .our-products {
    align-items: center;
  }

  .search {
    margin-left: 0;
  }

  .menu ul li a {
    font-size: 11px;
  }

  .adriana-details p {
    font-size: 20px;
  }

  .anima-mundi-photo {
    width: 205px;
  }

  .adrianas-interviews figure {
    width: 321px;
  }

  .interview-links {
    width: 100%;
  }

  .footer-details {
    margin-left: 0;
    margin-right: auto;
  }

  .adriana-info {
    top: 0;
  }

  .adriana-info h2 {
    font-size: 39px;
  }

  .adriana-info span,.adriana-info address {
    font-size: 20px;
  }

  .adriana-details p {
    font-weight: normal;
  }

  .video {
    bottom: -13.5%;
  }

}

@media only screen and (max-width: 768px) {
  .menu {
    display: none;
    background-color: #000;
  }

  .menu ul {
    flex-direction: column;
    row-gap: 20px;
  }

  .menu ul li {
    text-align: center;
  }

  .menu ul li a {
    color: #fff;
  }

  .hamburger {
    display: block;
  }

  .buttons {
    font-size: 14px;
  }

  .buttons span {
    cursor: pointer;
  }

  .adriana-info {
    width: 70%;
    left: 38%;
  }

  .video {
    bottom: -8.5%;
  }

  .play-button {
    top: 37%;
    left: 42%;
  }

  .play-button::before {
    font-size: 52px;
  }

  .adriana-info h2 {
    font-size: 32px;
  }

  .adriana-info span,.adriana-info address {
    font-size: 15px;
  }

  .icons {
    width: 25%;
  }

  .buttons {
    font-size: 11px;
  }

 footer .copyright {
    font-size: 13px;
  }

  .footer-options a,.footer-details {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .middle-menus {
    flex-basis: 60%;
  }

  .adriana-info {
    width: 60%;
  }

  .adriana-info h2 {
    font-size: 22px;
  }

  .adriana-info span,.adriana-info address {
    font-size: 12px;
  }

  .play-button::before {
    font-size: 44px;
  }
}
