@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1536x;
  width: 80.5%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.headertop .wrapper {
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 17px;
}

.header-bottom .wrapper {
  padding: 32px 0 34px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}

.menu {
  margin-bottom: 6px;
  flex-basis: 65.4%;
  align-self: flex-end;
}

.menu ul {
  display: flex;
  justify-content: space-between;
}

.menu ul li a {
  color: #000;
  font-size: 19px;
  font-weight: bold;
}

.mideele-menus {
  flex-basis: 27%;
  display: flex;
  justify-content: space-around;
}



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* meet the makers styling start  */
.meet-the-maker .wrapper {
  margin-top: 40px;
}

.meet-the-maker-top {
  display: flex;
  justify-content: space-between;
}

.meet-the-maker-top h2 {
  margin-top: 23px;
  font-size: 26px;
  font-weight: bold;
}

.dash-after::after {
  content: "\f068";
  font-family: "fontAwesome";
  font-size: 9px;
}

.buttons {
  flex-basis: 35.2%;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: bold;
}

.Adriana-photo {
  width: 53.6%;
  margin-top: 42px;
}

.adriana-info h2 {
  margin-bottom: 23px;
  font-size: 44px;
}

.adriana-info span {
  display: block;
  font-size: 22px;
  line-height: 31px;
}

.adriana-info {
  width: 37.4%;
  padding: 43px 0 56px 37px;
  position: absolute;
  top: 161%;
  left: 49.9%;
  background-color: #E7BD13;
  box-sizing: border-box;
}

.adeiana-ayales {
  position: relative;
}

.adriana-detalis p {
  width: 83.6%;
  font-size: 22px;
  font-weight: bold;
  word-break: break-all;
}

.adriana-detalis {
  margin-top: 8.6%;
  display: flex;
}

.adriana-info-description {
  flex-basis: 76.5%;
}

.gap {
  margin-top: 45px;
}

.meet-the-maker-bottom {
  padding-top: 31.6%;
  padding-bottom: 10.5%;
  background-color: #F7F3ED;
}

.adrianas-interviews {
  display: flex;
}

.adrianas-interviews figure img {
  border-radius: 100%;
}

.interview-links {
  width: 25%;
  margin-left: 6.8%;
}

.interview-links h3 {
  margin-bottom: 30px;
  font-size: 19px;
  font-weight: bold;
}

.interview-links a {
  margin-bottom: 18px;
  color: #000;
  font-size: 18px;
}

/* meet the maker styling end  */
/* anima mundi products start  */

  .anima-mundi-products {
    padding-top: 5.7%;
  }

  .anima-mundi-products .wrapper h2 {
    margin-bottom: 73px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .our-products {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .product-info {
    flex-basis: 23%;
    text-align: center;
  }

  .product-info::before {
    content: "";
    width: 98%;
    height: 5px;
    margin: auto;
    display: block;
    background-color: #E7BD13;
  }

  .product-info figure {
    width: 140px;
    margin:28px auto 45px auto;
  }

  .product-info span {
    display: block;
    font-size: 19px;
    font-weight: bold;
  }

  .all-products {
    padding: 13px 21px;
    margin-top: 4%;
    margin-left: 40%;
    border: 2px solid #000;
    display: inline-block;
    color: #000;
    font-size: 18px;
    font-weight: bold;
  }
/* anima mundi producs ends  */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  